<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 확인</title>
    <link rel="stylesheet" href="/css/boardtable/detail.css" />
    <script defer src="/js/boardtable/detail.js"></script>
    <script defer type="module">
      // ajax 호출
      import { ajax } from "/js/common.js";
      // 사용할 함수 부터 정리

      // 1. 댓글목록(원글의 아이디값을 가져와서 그 아이디값에 맞는 댓글리스트 호출)
      const getReplyList = async (bid) => {
        // bid값을 입력받아 그 원글리스트에 해당하는 url 생성
        try {
          const url = `http://localhost:9070/api/boardtables/${bid}/all`;

          // ajax get 방식으로 json포맷의 결과물을 받은 뒤
          // ajax 내부적으로 json 포맷의 결과물을 jsscript 포맷으로 변환을 거쳐 결과물 반환
          // 현재의 result는 js 포맷
          const result = await ajax.get(url);
          console.log(result);
          if (result.header.rtcd === "S00") {
            displayReplyBbsList(result.body);
          } else {
            console.log(result.header.rtmsg);
          }
        } catch (err) {
          console.error(err);
        }
      };
      // 목록이 실제로 들어가기 위한 리스트 콘테이너 생성
      const $list = document.createElement("div");
      document.querySelector(".container").appendChild($list);

      // 목록을 화면에 보여주기 위한 함수
      function displayReplyBbsList(replyBbsList) {
        // 일단 리스트를 받아와서 어떠한 형태에 담아서 보여줄수 있어야함
        // result.body 에서 replyBbsList 객체를 받아와서 replyBbs 이 객체를 html 형태로 바꾸어서 만들어야함
        const makeLi = (replyBbsList) => {
          const $li = replyBbsList
            .map(
              (replyBbs) =>
                // 여기 들어갈 html 부분 css 조금 다듬어 보기
                `<ul data-rid="${replyBbs.rid}">
                  <li><span>${replyBbs.userName}</span></li>
                  <li><input type="text" name="" id="" value="${replyBbs.content}" /></li>
                </ul>`
            )
            .join("");
          return $li;
        };
        $list.innerHTML = `
        <caption>댓글목록</caption>
          <ul>
            ${makeLi(replyBbsList)}
          </ul>
        `;
      }

      getReplyList(bid.value);
    </script>
  </head>
  <body>
    <div class="wrap">
      <div class="container">
        <div class="header">
          <h3>게시글 조회</h3>
        </div>
        <form action="" method="post">
          <div class="id_wrap">
            <div class="bid_wrap">
              <label for="">게시글 번호</label>
              <input
                type="text"
                name="bid"
                th:value="${findForm.bid}"
                id="bid"
                readonly
              />
            </div>
            <div class="title_wrap">
              <label for="">제목</label>
              <input
                type="text"
                name="title"
                th:value="${findForm.title}"
                readonly
              />
            </div>
            <div class="name_wrap">
              <label for="">이름</label>
              <input
                type="text"
                name="userName"
                th:value="${findForm.userName}"
                readonly
              />
            </div>
          </div>
          <div class="content_wrap">
            <label for="">내용</label>
            <textarea
              name="content"
              th:text="${findForm.content}"
              readonly
            ></textarea>
          </div>
          <div class="date_wrap">
            <label for="">작성날짜</label>
            <input
              type="text"
              name="createdAt"
              th:value="${findForm.createdAt}"
              readonly
            />
            <label for="">수정날짜</label>
            <input
              type="text"
              name="updatedAt"
              th:value="${findForm.updatedAt}"
              readonly
            />
          </div>
        </form>
        <div class="btn_wrap">
          <button id="btnUpdate">수정</button>
          <button id="btnDelete">삭제</button>
          <button id="btnAll">목록</button>
        </div>
      </div>
    </div>
  </body>
</html>
