<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 수정</title>
    <script defer src="/js/boardtable/update.js"></script>
    <link rel="stylesheet" href="/css/boardtable/update.css" />
  </head>
  <body>
    <div class="wrap">
      <div class="container">
        <div class="header">
          <h3>게시글 수정</h3>
        </div>
        <form action="" method="post" id="updateForm">
          <div class="id_wrap">
            <div class="userId_wrap">
              <label for="">게시글 번호</label>
              <input
                type="text"
                name="userId"
                th:value="${updateForm.userId}"
                id="userId"
                readonly
              />
            </div>
            <div class="title_wrap">
              <label for="">제목</label>
              <input
                type="text"
                name="title"
                th:value="${updateForm.title}"
                id="title"
              />
            </div>
            <div class="name_wrap">
              <label for="">이름</label>
              <input
                type="text"
                name="userName"
                th:value="${updateForm.userName}"
                id="userName"
              />
            </div>
          </div>
          <div class="content_wrap">
            <label for="">내용</label>
            <textarea
              name="content"
              th:text="${updateForm.content}"
              id="content"
            ></textarea>
          </div>
          <div class="date_wrap">
            <label for="">작성날짜</label>
            <input
              type="text"
              name="createdAt"
              th:value="${updateForm.createdAt}"
              id="createdAt"
              readonly
            />
            <label for="">수정날짜</label>
            <input
              type="text"
              name="updatedAt"
              th:value="${updateForm.updatedAt}"
              id="updatedAt"
              readonly
            />
          </div>
        </form>
        <div class="btn_wrap">
          <button id="btnSave">저장</button>
          <button id="btnCancel">취소</button>
          <button id="btnAll">목록</button>
        </div>
      </div>
    </div>
  </body>
</html>
