<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <style>
      .field-err {
        font-size: 0.8rem;
        font-weight: bold;
        color: red;
      }
    </style>
  </head>
  <body>
    <h3>회원가입</h3>
    <form action="" method="POST" th:object="${joinForm}">
      <div>
        <label for="">이메일</label><input type="text" th:field="*{email}" />
        <div class="field-err" th:each="err : ${#fields.errors('email')}">
          <span th:text="${err}"></span>
        </div>
      </div>
      <div>
        <label for="">비밀번호</label
        ><input type="password" th:field="*{passwd}" />
        <div class="field-err" th:each="err : ${#fields.errors('passwd')}">
          <span th:text="${err}"></span>
        </div>
      </div>
      <div>
        <label for="">비밀번호확인</label
        ><input type="password" th:field="*{passwdChk}" />
        <div class="field-err" th:each="err : ${#fields.errors('passwdChk')}">
          <span th:text="${err}"></span>
        </div>
      </div>
      <div>
        <label for="">별칭</label><input type="text" th:field="*{nickname}" />
      </div>
      <div class="field-err" th:each="err : ${#fields.errors('nickname')}">
        <span th:text="${err}"></span>
      </div>
      <div>
        <button>가입</button
        ><button type="button" onclick="window.location.href = '/'">
          취소
        </button>
      </div>
    </form>
  </body>
</html>
