<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>초기화면</title>
    <link rel="stylesheet" href="/css/boardtable/index.css" />
    <style>
      .field-err {
        font-size: 0.8rem;
        font-weight: bold;
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <img
          src="https://cdn.pixabay.com/photo/2015/08/19/05/23/banner-895571_1280.jpg"
          alt="배너이미지"
          class="header_inner"
        />
      </div>
      <div class="nav">
        <div class="nav_inner">
          <div class="nav_menu">
            <a href="/boardtables">게시판 이용하기</a>
            <a href="#">이곳은 다른 메뉴가 들어갈 공간입니다</a>
            <a href="#">이곳은 다른 메뉴가 들어갈 공간입니다</a>
            <a href="#">이곳은 다른 메뉴가 들어갈 공간입니다</a>
            <a href="#">이곳은 다른 메뉴가 들어갈 공간입니다</a>
          </div>
          <div class="nav_account" th:if="${session.isEmpty()}">
            <form
              class="account_inner"
              method="POST"
              action="/login"
              th:object="${loginForm}"
            >
              <label for="id">아이디</label>
              <input type="text" th:field="*{email}" />

              <label for="psw">비밀번호</label>
              <input type="password" th:field="*{passwd}" />
              <div class="field-err" th:each="err : ${#fields.errors('email')}">
                <span th:text="${err}"></span>
              </div>
              <div
                class="field-err"
                th:each="err : ${#fields.errors('passwd')}"
              >
                <span th:text="${err}"></span>
              </div>
            </form>
            <div>
              <button id="join">회원가입</button>
              <button id="login">로그인</button>
            </div>
          </div>
          <div class="nav_account" th:if="${!session.isEmpty()}">
            <span th:text="${session.loginMember.nickname}"></span
            ><span>님 반갑습니다</span>
            <div>
              <button><a id="logout" href="/logout">로그아웃</a></button>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="main_inner">
          <div class="container">
            <div class="item item1">
              <span>콘텐츠가 들어갈 공간입니다</span>
            </div>
            <div class="item item2">
              <span>콘텐츠가 들어갈 공간입니다</span>
            </div>
            <div class="item item3">
              <span>콘텐츠가 들어갈 공간입니다</span>
            </div>
            <div class="item item4">
              <span>콘텐츠가 들어갈 공간입니다</span>
            </div>
            <div class="item item5">
              <span>콘텐츠가 들어갈 공간입니다</span>
            </div>
            <div class="item item6">
              <span>콘텐츠가 들어갈 공간입니다</span>
            </div>
            <div class="item item7">
              <span>콘텐츠가 들어갈 공간입니다</span>
            </div>
            <div class="item item8">
              <span>콘텐츠가 들어갈 공간입니다</span>
            </div>
            <div class="item item9">
              <span>콘텐츠가 들어갈 공간입니다</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer_inner">
          <span class="footer_text">여기는 푸터 메뉴가 들어갈 공간입니다.</span>
        </div>
      </div>
    </div>

    <script>
      const $join = document.getElementById("join");
      $join.addEventListener("click", (e) => {
        document.location.href = `http://localhost:9070/join`;
      });
      const $login = document.getElementById("login");
      $login.addEventListener("click", (e) => {
        const $loginForm = document.querySelector(".account_inner");
        $loginForm.submit();
      });
    </script>
  </body>
</html>
