<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .comment {
        width: 500px;
        display: flex;
        flex-direction: column;
      }
      .comment * {
        margin-bottom: 10px;
      }
      #userName {
        width: 150px;
      }
      .container-btn {
        align-self: flex-end;
      }
    </style>
    <script type="module">
      // ajax 호출
      import { ajax } from "/main/resources/static/js/common.js";
      // 사용할 함수 부터 정리

      // 1. 댓글목록(원글의 아이디값을 가져와서 그 아이디값에 맞는 댓글리스트 호출)
      const getReplyList = async (bid) => {
        // bid값을 입력받아 그 원글리스트에 해당하는 url 생성
        try {
          const url = `http://localhost:9070/api/replyBbs/${bid}/all`;

          // ajax get 방식으로 json포맷의 결과물을 받은 뒤
          // ajax 내부적으로 json 포맷의 결과물을 jsscript 포맷으로 변환을 거쳐 결과물 반환
          // 현재의 result는 js 포맷
          const result = await ajax.get(url);
          console.log(result);
          if (result.header.rtcd === "S00") {
            displayReplyBbsList(result.body);
          } else {
            console.log(result.header.rtmsg);
          }
        } catch (err) {
          console.error(err);
        }
      };

      const $list = document.createElement("div");
      document.body.appendChild($list);

      // 목록을 화면에 보여주기 위한 함수
      function displayReplyBbsList(replyBbsList) {
        // 일단 리스트를 받아와서 어떠한 형태에 담아서 보여줄수 있어야함
        // result.body 에서 replyBbsList 객체를 받아와서 replyBbs 이 객체를 html 형태로 바꾸어서 만들어야함
        const makeLi = (replyBbsList) => {
          const $li = replyBbsList
            .map(
              (replyBbs) =>
                `<li data-rid=${replyBbs.rid}>
                <span>${replyBbs.username}</span>
                <input type="text" name="" id="" value="${replyBbs.content}"></li>`
            )
            .join("");
          return $li;
        };
      }

      getReplyList(3);

      // 댓글 작성하는 함수와 화면 구축
      // 댓글을 작성할 폼을 감쌀 wrap 생성
      const $addCommentFormWrap = document.createElement("div");
      $addCommentFormWrap.innerHTML = `
        <form id="commentForm">
          <div class="comment">
            <input
              type="text"
              name="userName"
              id="userName"
              value="홍길동"
              readonly
            />
            <textarea name="content" id="content"></textarea>
            <div class="container-btn">
              <button class="addBtn">작성</button>
              <button class="resetBtn">취소</button>
            </div>
          </div>
        </form>
      `;
      //여기서 값을 받아서 json객체로 변환할 객체로 전환
      document
        .querySelector(".btn_wrap")
        .insertAdjacentElement("afterend", $addCommentFormWrap);
      // 일단 함수부터 만듬
      const addReply = async (payload) => {
        try {
          // api replyBbs에 접속하기 위한 url 생성
          const url = `http://localhost:9070/api/replyBbs/add`;

          //ajax post 방식으로 내가 작성한 댓글의 정보를 json포맷으로 변환 후 전송
          const result = await ajax.post(url, payload);
          console.log(result);
          if (result.header.rtcd === "S000") {
            // 성공 했으니까 리스트를 다시 한번 반환하고
            // 입력값을 다 초기화해야한다.
            // 여기서 생성된 객체를 보여준다.
            console.log(result.body);
            // 폼 초기화를 해야한다.
            commentForm.reset();
            // 목록을 새로 불러온다.
            getReplyList(bid);
          }
        } catch (err) {
          console.error(err.message);
        }
      };

      function displayAddReplyBbs() {}
    </script>
  </head>
  <body>
    <button class="btn btnEdit btnCreate"></button>
  </body>
</html>
